{% block init %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buri zamówienia</title>
</head>
{% endblock  %}
<body>
    {% block header %}
    {% if user %}
    <p>{{user.username}}</p>
    {% endif %}
    <a href="/main_page"><p>Buri Sushi!</p></a>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer>Autor: Dominik Popławski</footer>
    {% endblock footer %}
</body>
</html>