{% extends "base.html" %}
{% block account_and_login %}
    {% if user.id %}
        <p>Użytkownik: {{user.username}}</p>
        <a href="/user/{{user.id}}/">Ustawienia konta</a>
    {% else %}
        <a href="/login/?next={{request.get_full_path}}">Zaloguj</a><br>
    {% endif %}
    <hr>
{% endblock account_and_login %}
{% block header %}
    <a href="/"><h3>Strona główna</h3></a>
{% endblock header %}
{% block content %}
<a href="/categories/">Menu</a><br>
{% for product in chosen_products %}
    <ul>
        <li>{{product.0.name}} x{{product.1}} </li>
        <form action="" method="POST">
            <label for="delete-btn">Usuń produkt:</label>
            <button type="submit" id="delete_product" name="delete-btn" value="product_{{product.0.id}}_and_amount">Usuń</button>
            {% csrf_token %}
        </form>
    </ul>
{% empty %}
    <p>Koszyk jest pusty!</p>
{% endfor %}
{% if chosen_products|length != 0 %}
<p>Cena: {{cost}}</p>
<a href="/cart/{{user.id}}/payment/">Przejdź do zapłaty</a>
{% endif %}

{% endblock content %}

