{% extends "base.html" %}
{% block account_and_login %}
    {% if user.id %}
        <p>Użytkownik: {{user.username}}</p>
        <a href="/user/{{user.id}}/">Ustawienia konta</a>
    {% else %}
        <a href="/login/?next={{request.get_full_path}}">Zaloguj</a><br>
    {% endif %}
{% endblock account_and_login %}
{% block header %}
    <a href="/"><p>Strona główna</p></a>
{% endblock header %}
{% block content %}
<a href="/categories/">Menu</a><br>
{% for product in chosen_products %}
    <ul>
        <li>{{product.0.name}} x{{product.1}} </li>
    </ul>
{% empty %}
    <p>Koszyk jest pusty!</p>
{% endfor %}
{% if chosen_products|length != 0 %}
<p>Cena: {{cost}}</p>
<a href="/cart/{{user.id}}/payment/">Przejdź do zapłaty</a>
{% endif %}

{% endblock content %}

