{% extends 'base.html' %}
{% block header %}
{{block.super}}
<p>Menu:</p>
{% for category in categories %}
<a href="/categories/{{category.id}}"><p>{{category.name}}</p></a>
{% endfor %}
{% endblock header %}
{% block content %}
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h4>Produkty w categorii {{chosen_category.name}}:</h4>
    <ul>
        {% for product in products %}
        <li>
            <h3>{{product.name}}</h3>
            <p>Cena: {{product.price}}</p>
            <p>{{product.details}}</p>
        </li>
            Składniki:
            <ul>
                {% for ingredient in product.ingredients.all %}
                <li>
                    <p>{{ingredient.name}}</p>
                    <p>{% if ingredient.is_gluten %}- Zawiera gluten {% else %}- Nie zawiera glutenu {% endif %}</p>
                    <p>{% if ingredient.is_not_vegan %}- Produkt mięsny {% else %}- Produkt niemięsny {% endif %} </p>
                    <p>{% if ingredient.is_allergic %}- Może zawierać alergeny {% else %}- Nie zawiera alergenów {% endif %}</p>
                </li>
                {% endfor %}
            </ul>
        <form action="" method="POST">
            <label for="amount_of_product">Wybierz ilość</label>
            <input name="amount_of_product" id="amount_of_product" type="number">
            <button type="submit" name="cart_product" value="{{product.id}}">Dodaj do koszyka</button>
            {% csrf_token %}
        </form>
        {% endfor %}
    </ul>
{% endblock content %}