{% extends 'base.html' %}
{% block account_and_login %}
        <p>Użytkownik: {{user.username}}</p>
        <a href="/logout/">Wyloguj</a>
        <hr>
{% endblock account_and_login %}
{% block header %}
    <a href="/"><h3>Strona główna</h3></a>
{% endblock header %}
{% block content %}
<p>{{info}}</p>
<h4>Aktualne dane użytkownika:</h4>
    <p>Nazwa użytkownika: {{logged_user.username}}</p>
    <p>Imię: {% if logged_user.first_name %}{{logged_user.first_name}} {% else %} Nie podano {% endif %}</p>
    <p>Nazwisko: {% if logged_user.last_name %}{{logged_user.last_name}} {% else %} Nie podano {% endif %}</p>
    <p>Email: {% if logged_user.email %}{{logged_user.email}} {% else %} Nie podano {% endif %}</p>
<h4>Adresy dostaw:</h4>
<ul>
    {% for address in logged_user.address_set.all %}
        <li>ul. {{address.street}} {{address.street_number}}, mieszkania: {{address.house_number}}</li>
    {% endfor %}
</ul>
<h4>Zmień dane użytkownika:</h4>
    <form action="" method="POST">
        {{form}}<br>
        {% csrf_token %}
        <input type="submit" value="Zapisz zmiany">
    </form>
    <a href="/user/{{user.id}}/change_password/">Zmiana hasła.</a><br>
    <a href="/user/{{user.id}}/change_username/">Zmiana nazwy użytkownia.</a><br>
    <a href="/user/{{user.id}}/add_new_address/">Dodaj nowy adres dostawy.</a><br>
    <a href="/user/{{user.id}}/delete_address/">Usuń zapisany address</a>
{% endblock %}