{% extends 'base.html' %}
{% block account_and_login %}
        <p>Użytkownik: {{user.username}}</p>
        <a href="/user/{{user.id}}/">Powrót do ustawień konta</a>
        <a href="/logout/">Wyloguj</a>
        <hr>
{% endblock account_and_login %}
{% block header %}
    <a href="/"><h3>Strona główna</h3></a>
{% endblock header %}
{% block content %}
<p>Zmiana hasła: </p>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Zapisz zmiany">
    </form>
{% endblock %}